.navButtons {
    float: right;
}

li {
    margin-top: 40px;
    list-style: none;
    float: left;
    margin-right: 10px;
}

.navBrand {
    float: left;
}

img {
    width: 220px;
    height: 100px;   
}
